doctype html
html(ng-app='plotaway', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title PLOTAWAY
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/vendor/toastr/toastr.css', rel='stylesheet')
    link(href='/vendor/angular-gridster/dist/angular-gridster.min.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
    link(href='/views/dashboard/style.css', rel='stylesheet')
    link(href='/views/stories/stories.css', rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css', rel='stylesheet')
    link(href='/views/trips/trips.css', rel='stylesheet')
    link(href='/views/new_trips/new_trips.css', rel='stylesheet')
    link(href='/views/new_pages/new_pages.css', rel='stylesheet')
    link(href='/views/new_plots/new_plots.css', rel='stylesheet')
    link(href='/views/publicItins/itins.css', rel='stylesheet')
    link(href='/views/publicItins/individual-itin.css', rel='stylesheet')
    link(href='/components/directives/type_writer/type_writer.css', rel='stylesheet')
    link(href='/components/directives/wikisherpa/wikisherpa.css', rel='stylesheet')
    link(href='/vendor/angular-loading-bar/src/loading-bar.css')
    link(href='/views/home/home.css', rel='stylesheet')
    //-link(href='/vendor/bootstrap-timepicker/css/bootstrap-timepicker.min.css')

    .row
      .col-12-xs
        include nav
        .view-animate-container
          .view-animate(ng-view='ng-view')

          //-#container(ng-view)

    script(src='/vendor/jquery/dist/jquery.js')
    script(src='vendor/ng-file-upload/angular-file-upload-shim.min.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/toastr/toastr.js')
    script(src='/vendor/localforage/dist/localforage.js')
    script(src='/vendor/angular-localforage/dist/angular-localForage.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap.js')
    script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js')
    script(src='/vendor/angular-animate/angular-animate.js')
    script(src='/vendor/ng-flow/dist/ng-flow-standalone.js')
    script(src='vendor/ng-file-upload/angular-file-upload.min.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCZvMzPdSqo-4_HX5RbRLF_I9MntEVVgGc&libraries=places&sensor=true')
    script(src='/vendor/lodash/dist/lodash.underscore.min.js')
    script(src='/vendor/angular-google-maps/dist/angular-google-maps.min.js')
    script(src='/vendor/angular-loading-bar/src/loading-bar.js')
    //-script(src='/vendor/bootstrap-timepicker/js/bootstrap-timepicker.min.js')
    script(src='/vendor/angular-jquery-timepicker/src/timepickerdirective.min.js')
    script(src='/vendor/pdfmake/build/pdfmake.js')
    script(src='/vendor/pdfmake/build/vfs_fonts.js')
    script(src='/vendor/angu-fixed-header-table/angu-fixed-header-table.js')
    script(src='/config/toastr.js')
    script(src='/index.js')
    script(src='/nav.js')
    script(src='/views/home/home.js')
    script(src='/views/register/register.js')
    script(src='/views/login/login.js')
    script(src='/views/logout/logout.js')
    script(src='/views/trips/trips.js')
    script(src='/views/publicItins/itins.js')
    script(src='/views/publicItins/individual-itin.js')
    script(src='/views/new_trips/new_trips.js')
    script(src='/views/new_pages/new_pages.js')
    script(src='/views/new_plots/new_plots.js')
    script(src='/components/factories/home.js')
    script(src='/components/factories/user.js')
    script(src='/components/factories/plot.js')
    script(src='/components/factories/board.js')
    script(src='/components/factories/trip.js')
    script(src='/components/factories/page.js')
    script(src='/components/factories/plot.js')
    script(src='/components/factories/wiki.js')
    script(src='/components/factories/note.js')
    script(src='/components/factories/itin.js')
    script(src='/components/factories/comment.js')
    script(src='/components/factories/http-interceptor.js')
    script(src='/components/directives/type_writer/type_writer.js')
    script(src='/components/directives/autocomplete/autocomplete.js')
    script(src='/components/directives/wikisherpa/wikisherpa.js')
